<nav class="custom-nav">
<div class="search">
<input type="search" placeholder="Search.." onclick="">
<a href="#" class="search-icon">
<i class="fa fa-search" aria-hidden="true"></i>

</a>
</div>

<div class="tools">
<div class="notfication">
<i class="fa fa-bell-o" aria-hidden="true"></i>
<span class="notfi-num">{{notfication}}</span>
<!--<i class="fa fa-arrow-down" aria-hidden="true"></i>-->
</div>
<!--<end notfcation -->
<div class="user">
<i class="fa fa-user-circle" aria-hidden="true"></i>
<!--<i class="fa fa-arrow-down" aria-hidden="true"></i>-->

</div>
</div>

<!--<end tool div> -->
</nav>
