// colors
$darkgray:#7a7b7d;
$notfi_color:#ff586b;
$border_color:#cfd8dc;
$darkBlue: rgb(44, 67, 91);
$lightBlue:#516478;

$text-color: #6c757d;
$dropdownolor:#f8f9fa;
$navColor:linear-gradient(90deg,#061e38 0,#516478);
$hoverColor:#ff6a07;

$main-font: 'Rubik', sans-serif;



.custom-nav{
  background: $navColor;
  .container-fluid{
    padding-right: 0;
    padding-left: 0;
  }

    .responsive{
    position: absolute;
    font-size: 16px;
    left: 120px;
    top: 17px;
    background-color:#de5a03;
    color: #f8f9fa;
    outline: none;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    z-index: 8;
    display: none;
  }

  .c1{
    padding-left: 0;
  }
  .brand{
padding-left: 0;
color: #ffffff;
img{
width: 50px;
height:  50px;
display: inline-block;

}

p{
  display:inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
  white-space: nowrap;
  font-size: 24px;
  .in{
    color: $hoverColor;
    font-weight: bold;
    font-size: 20px;
  }
}
}


.search{
  width: 100%;
  padding-top: 8px;
  margin-left: 15px !important;
  input[type="search"]{
      position: relative;
      border-radius:50px;
      width: 75%;
      padding: 10px;
      color: #75787d;
      font-size: 14px;
      outline: none;
  }

  .search-icon{
    position: absolute;
    top: 41%;
    right: 25%;
    background-color: none;
    outline: none;
    color: #3a597b;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
}
.tools{
float: right;
padding-top: 4px;

}
.notfication {
  display: inline-block;
  padding-left: 3px;
  vertical-align: -webkit-baseline-middle;
  position: relative;
  color: rgba(0,0,0,.5);
  cursor: pointer;

.notfi-icon{
  font-size: 28px;
  color: #ffffff;
  transition:all .5s ease-in-out;
-o-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out;
}
.notfi-num{
    position: absolute;
    border-radius: 50%;
    top: -17px;
    font-size: 85%;
    right: -6px;
    background-color:$darkBlue;
    color:#ffffff;
}



&:hover .notfi-icon{
color:$hoverColor;

}

.dropdown-toggle::after{
  content: none;
}

.notfication-container {
  top: 49px !important;

    left: -334px ;
    border: 1px solid #2c435b;
    background-color: #516478;
    border-radius: 5px;
  border: 1px solid $darkBlue;
  background-color: $lightBlue;
  border-radius:5px;
  // overflow-x: hidden;

&:before{

  border: 10px solid transparent;
    border-bottom-color: $lightBlue;
    bottom: 100%;
    content: "";
    right: 3px;
    margin: 0 0 0 -10px;
    position: absolute;

}

.notfialtion-list{

border-bottom:1px solid $darkBlue;
margin-top: 0;
margin-bottom: 0;
position: relative;

padding: 15px 15px 7px 15px;
  transition:background-color .2s ease-in-out;
  -moz-transition:background-color .2s ease-in-out;
  -webkit-transition:background-color .2s ease-in-out;
  -o-transition:background-color .2s ease-in-out;


    &:hover{
  background-color:$darkBlue;
}

  .notfcation-head{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size:18px;
    font-family:$main-font;

  }
  .notfication-info{
    padding-left: 30px;
    overflow: hidden;
    max-width: 332px;

  }

    i{
    font-size: 30px;
    position: absolute;
    top: 16%;
    left: 6px;
    margin-top: 8px;
    }


  }
}

}


.user{
display: inline-block;
padding: 0 10px;
width: 60px;
position: relative;
cursor: pointer;
transition:color .5s ease-in-out;
-o-transition:color .5s ease-in-out;
-moz-transition:color .5s ease-in-out;
.admin-img{
  width: 50px ;
  height: 50px;
  border-radius: 50%;
}

.user-container{
    border-radius: 100%;
    margin-bottom: 13px;
    min-width: 132px;
    padding-bottom: 0;
    font-size: 15px;
    top: 66px !important;
    left: -73px !important;
    border: 1px solid $darkBlue;
    background-color: $lightBlue;
    border-radius: 5px;

  &:before{

  border: 10px solid transparent;
    border-bottom-color: $lightBlue;
    bottom: 100%;
    content: "";
    right: 7px;
    margin: 0 0 0 -10px;
    position: absolute;

}

  .user-list{

        margin-bottom: 0;
        margin-top: 0;
        padding: 10px 20px 7px 20px;
        color: #fff !important;

      &:last-child{
        padding-top: 15;
        padding-bottom: 12px ;
    border-top: 1px solid $border_color;
      }


    &:hover{
      background-color: $darkBlue;
    }
    .user-icon{
      display: inline-block;
      color: #ffffff;
      margin-right: 8px;

    }
    .user-lis{
      color: #fff;
      display: table-header-group;
          // margin-right: 12px;
            padding-right: 16px;


    }
  }
}
}

}

.read{
          margin: 10px auto;
          padding: 0;
          color: #fff;
          font-size: 14px;
          font-weight: 400

    }
/* mobile */


@media only screen and (max-width: 992px) {
  .search{
    input{
      // margin-left: 5rem;
    }


  }


}


@media only screen and (max-width: 768px) {
    .brand{
    padding-left: 20px !important;

  }


}
@media only screen and (max-width:769px){

}
// end meduiem screen
@media only screen and (max-width: 576px) {
 .responsive{
  display: inline-block !important;
  }
  .search{
  display: none;
  }
    .brand{
    p{
      font-size:16px !important;
      display: none !important;

    }
  }
  .notfication-container{
   max-width: 200px !important;
   left: -175px !important;
  .notfialtion-list{

    i{
      font-size: 24px !important;
    }
    h4{
      margin-bottom: 0 !important;
      font-size: 13px !important;
      font-weight: 500 !important;
    }
    .description{
      margin-bottom: 0 !important;
      font-size: 60% !important;

    }



  }

}



  .tools{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;

    // right: 42px !important;
      }
}

