// colors
$darkgray:#7a7b7d;
$notfi_color:#ff586b;
$border_color:#cfd8dc;
$lightgray:#f1f4f6;
$text-color: #6c757d;
$dropdownolor:#f8f9fa;



$main-font: 'Rubik', sans-serif;

.custom-nav{

  .responsive{
    color: #313233;
    cursor: pointer;
    display: none;
  }
  padding-top: 20px;
  padding-left: 20px;

.search{
  float: left;
    position: relative;
        margin-left: 65px;

  input[type="search"]{
      min-width:300px;
      padding:10px;
      border-radius:50px;
      border: 1px solid #a6a9ae;
    color: #75787d;
    outline: none;
  }
input[type="search"]:focus, input[type="search"]:hover{
      border-color: #2972ec;
      // background-color: red;
  }
  .search-icon{
    position: absolute;
    top: 10px;
    right: 15px;

    color: #a6a9aa;
  }
}
.tools{
float: right;
padding-right: 2.5rem;
// margin-right:2rem;
font-size: 18px;
}
.notfication {
  display: inline-block;
  // padding: 0 10px;
// margin-right: 8px;
position: relative;
color: rgba(0,0,0,.5);
cursor: pointer;

.notfi-icon{
  font-size: 28px;
  transition:all .5s ease-in-out;
-o-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out;
}
.notfi-num{
position: absolute;
border-radius: 100%;
    padding: 1px 6px;
    font-weight: 600;
    font-size: 85%;top: -17px;
right: -6px;
background-color:$notfi_color;
color:#ffffff;
}

// &:after{
// content: '';
//   position: absolute;
//    bottom: 7px;
//   left: 35px;
//   display: block;
// border-right:6px solid transparent;
// border-left:6px solid transparent;
// border-top:6px solid $darkgray;
// }

// &:before{
// content: '';
//   position: absolute;
//  bottom: 7px;
//   left: 35px;
//   display: block;
// border-right:6px solid transparent;
// border-left:6px solid transparent;
// border-top:6px solid #eee;
// }

&:hover .notfi-icon{
color: rgba(0,0,0,1);

}

.notfication-container {
  z-index: 9999;
  min-width: 400px;
  position: absolute;
  top: 35px;
    right: 0px;
  border: 1px solid $border_color;
  background-color: #ffffff;
  border-radius:5px;


.notfialtion-list{

border-bottom:1px solid $border_color;
margin-top: 0;
margin-bottom: 0;
padding-top: 15px;
// padding:15px  5px ;
padding-right: 5px;
padding-bottom: 7px;
  transition:background-color .2s ease-in-out;
  -moz-transition:background-color .2s ease-in-out;
  -webkit-transition:background-color .2s ease-in-out;
  -o-transition:background-color .2s ease-in-out;


    &:hover{
  background-color:$lightgray;
}

  .notfcation-head{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 500;
    font-size:18px;
    font-family:$main-font;

  }
  .notfi-list{
  padding: .25rem 1.5rem;


    i{
    font-size: 30px;
    margin-top: 1.1rem !important;
    position: absolute;
    left: 16px;
    font-weight: 800
    }
  }

  }
}

}


.user{
display: inline-block;
padding: 0 10px;
width: 60px;
position: relative;
color: rgba(0,0,0,.5);
cursor: pointer;
transition:color .5s ease-in-out;
-o-transition:color .5s ease-in-out;
-moz-transition:color .5s ease-in-out;
&:hover .circle{
color: rgba(0,0,0,1);

}
// .Admin-name{
//   display: inline-block;
// }
.admin-img{
width: 40px;
height: 40px;
border-radius: 100%;
display: inline-block;
margin-bottom: 13px;
}

// &:after{
// content: '';
//   position: absolute;
//    bottom: 25px;
//   right: -7px;
//   display: block;
// border-right:6px solid transparent;
// border-left:6px solid transparent;
// border-top:6px solid $darkgray;
// }

// &:before{
// content: '';
//   position: absolute;
//    bottom: 25px;
//   right: -7px;
//   display: block;
// border-right:6px solid transparent;
// border-left:6px solid transparent;
// border-top:6px solid #eee;
// }
.user-container{
      min-width: 132px;

  font-size: 15px;
   z-index: 9999;
  position: absolute;
      top: 50px;
    right: -7px;
  border: 1px solid $border_color;
  background-color: #ffffff;
  border-radius:5px;

  .user-list{

        margin-bottom: 0;
        margin-top: 0;
        padding: 10px 20px 7px 20px;

      &:last-child{
        padding-top: 15;
        padding-bottom: 12px;
    border-top: 1px solid $border_color;
      }


    &:hover{
      background-color: $lightgray;
    }
    .user-icon{
      display: inline-block;
      color: $darkgray;
      margin-right: 8px;

    }
    .user-lis{
      color: $text-color;
      display: table-header-group;
          // margin-right: 12px;
            padding-right: 16px;


    }
  }
}
}

}


/* mobile */


@media only screen and (max-width: 998px) {

.notfication-container{
   min-width: 200px !important;
  .notfialtion-list{

  .notfi-list {
    i{
      font-size: 24px !important;
    }
    h4{
      margin-bottom: 0 !important;
      font-size: 13px !important;
      font-weight: 500 !important;
    }
    .description{
      margin-bottom: 0 !important;
      font-size: 60% !important;

    }

  }
  }

  .read{
          font-size: 12px !important;

    }
}
    .responsive{
   display: block !important;
    position: absolute;
    top:22px ;
    right: 174px;
    font-size: 26px;
    color: $darkgray;
    }
    .tools{
      position: absolute;
     top: 13px ;
    right: 15px;
    }
    .search{
        // margin: 0 auto;
        margin-left: 0px !important;
    }
}


@media only screen and (max-width: 668px) {
  .search{
    input[type="search"]{

    min-width: 150px !important;
    }
  }
  .responsive{
    right: 146px !important;
  }
  .tools{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;

    right: 42px !important;
      }
}
