/* You can add global styles to this file, and also import other style files */



// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


@import './assets/Styles/css/fontawesome-all.min.css';

@import './assets/Styles/Partials/_Colors.scss';

@import './assets/Styles/Partials/_normalize.scss';

$infoColor:#1cbcd8;
$AddColor:#ff8d60;
$warningColor:#ff586b;
$main-font: 'Rubik', sans-serif;

* , *:before , *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
// background-color:#516478;

position: relative;
height: 2000px;
font-family:$main-font;
}

.center{
  text-align: center;
}
.capital{
text-transform: uppercase;
}
.divider{
height: 1.3px;
width: 100%;
opacity:.8;
background-color:#ffffff;

}
a , a:hover , a:focus{
  color: #ffffff;
  text-decoration: none;
}
.unstyled{
  list-style: none;
}
.description{
  padding: 0;
  margin: 0;
  margin-bottom:25px;
  color: #ffffff;
  font-size: 15px;
}
.info{
color:$infoColor;
}
.Add{
color:$AddColor;
}
.warning{
  color:$warningColor;
}
.shown{
  display: block !important;
}
.hide{
  display: none;
}
.wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999999;
}

.col-md-10 {
padding: 0 !important;
}
.row{
  margin-right: 0;
}
.hideen{
  display: none !important;
}
.hidden{
  display: none;
}
.hidden-inpt{
  visibility: hidden;

}
