/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/normalize.scss/normalize.scss';
@import './assets/Styles/Vendors/bootstrap.min.scss';
@import '../node_modules/font-awesome/css/font-awesome.min.css';


@import './assets/Styles/Partials/_Colors.scss';

@import './assets/Styles/Partials/_normalize.scss';

$infoColor:#1cbcd8;
$AddColor:#ff8d60;
$warningColor:#ff586b;
$main-font: 'Rubik', sans-serif;

* , *:before , *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
background-color:#f5f7fa;
overflow-x: hidden;
font-family:$main-font;
}
.center{
  text-align: center;
}
.capital{
text-transform: uppercase;
}
.divider{
height: 1.3px;
width: 100%;
opacity:.8;
background-color:#ffffff;

}
a , a:hover , a:focus{
  color: #ffffff;
  text-decoration: none;
}
.unstyled{
  list-style: none;
}
.description{
  padding: 0;
  margin: 0;
  margin-bottom:25px;
  color: #6c757d;
  font-size: 85%;
}
.info{
color:$infoColor;
}
.Add{
color:$AddColor;
}
.warning{
  color:$warningColor;
}
