/* You can add global styles to this file, and also import other style files */



// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


@import './assets/Styles/css/fontawesome-all.min.css';

@import './assets/Styles/Partials/_Colors.scss';

@import './assets/Styles/Partials/_normalize.scss';

$infoColor:#1cbcd8;
$AddColor:#ff8d60;
$warningColor:#ff586b;
$dangerColor: #e84118;
$confirmbtn:#5cba34;
$main-font: 'Rubik', sans-serif;

* , *:before , *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
background-color:#ffffff;

position: relative;
height: 2000px;
font-family:$main-font;
}

.center{
  text-align: center;
}
.capital{
text-transform: uppercase;
}
.divider{
height: 1.3px;
width: 100%;
opacity:.8;
background-color:#ffffff;

}
a , a:hover , a:focus{
  color: #ffffff;
  text-decoration: none;
}
.unstyled{
  list-style: none;
}
.description{
  padding: 0;
  margin: 0;
  margin-bottom:25px;
  color: #ffffff;
  word-wrap: break-word;
  font-size: 15px;
}
.info{
color:$infoColor;
}
.Add{
color:$AddColor;
}
.warning{
  color:$warningColor;
}
.shown{
  display: block !important;
}
.hide{
  display: none;
}
.Wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 4;
}

.col-md-10 {
padding: 0 !important;
}
.row{
  margin-right: 0;
}
.hideen{
  display: none !important;
}
.hidden{
  display: none;
}
.hidden-inpt{
  visibility: hidden;

}
.opens{
  left: 0 !important;
}

// .closes{
//   // display: none !important;
//   left: 0px !important;
// }
.danger{
  font-size: 17px;
    font-weight: 400;
  margin: 0.5rem 1.5rem;
  color: $dangerColor;
&>div{
display: inline;
}
&::after{
content: '*';

}

}

.confirm-btn{
  background-color:$confirmbtn !important;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}
